.introtext {
    height: 10vh;
    width: 100vw;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: middle;
    margin: 5;
}

.hello {
    width: 100vw;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: middle;
    margin-top: 0vh;
}